.forgotPass-section {
    background-color: var(--c-zinc-50);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotPass-section .center-box {
    background-color: var(--c-white);
    width: 100%;
    margin: 0 1rem;
    border-radius: .5rem;
}

.forgotPass-section .center-box .content {
    padding: 2rem;
    height: 30rem;
}

.forgotPass-section .center-box .body {
    height: calc(100% - 94px);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.forgotPass-section .center-box .body .funcionario {
    width: 100%;
}


.forgotPass-section .center-box .buttons {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .25rem;
}

.forgotPass-section .button {
    width: 100%;
    font-size: var(--f-s-normal);
}

.forgotPass-section .body .aluno p,
.forgotPass-section .body .funcionario p {
    margin: 1rem 0 2rem 0;
    font-size: var(--f-s-normal);
}

.forgotPass-section .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}


.forgotPass-section .link:hover .arrow-icon {
    animation: MoveLeftRight 1.5s linear infinite;
}

@keyframes MoveLeftRight {

    0%,
    100% {
        transform: translate(0rem);

    }

    50% {
        transform: translate(.5rem);
    }
}


@media only screen and (min-width: 600px) {


    .forgotPass-section .center-box {
        width: 35rem;
        margin: 0rem;
        border-radius: 1rem;
    }

    .forgotPass-section .center-box .content {
        padding: 4rem 3.5rem;
    }

    .forgotPass-section .center-box .buttons {
        gap: 1rem;
    }

}

@media only screen and (min-width: 992px) {
    /* .forgotPass-section {
        background-color: var(--c-zinc-50);
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .forgotPass-section .center-box {
        background-color: var(--c-white);
        width: 100%;
        margin: 0 1rem;
        border-radius: .5rem;
    }

    .forgotPass-section .center-box {
        width: 35rem;
        margin: 0rem;
        border-radius: 1rem;
    }

    .forgotPass-section .center-box .content {
        padding: 3rem;
        height: 27rem;
    }



    .forgotPass-section .center-box .buttons {
        
        gap: 1rem;
    }

}