
.icons-password{
    height: 0;
}

.icon-password{
    position: relative;
    cursor: pointer;
    float: right;
    top: -1.65rem;
    right: .75rem;

    color: var(--c-zinc-500);
    /* margin-bottom: 2rem; */
}

.icon-password:hover{
    color: var(--c-blue-500);
    /* margin-bottom: 2rem; */
}